<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Team</title>

    <link rel="stylesheet" href="templateStyle.css">
    <script src="script.js"></script>

    <script src="https://use.fontawesome.com/74b73bf2b5.js"></script>


    <style>
        .cards{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        .office, .github, .school{
            display: none;
        }
    
    </style>

</head>
<body>
    
    <div class="cards">
        {{cards}}
    </div>

</body>
</html>